header {
  width: 100%;
  height: 6em;
  position: relative;

  .settings-icon {
    width: 6em;
    height: 6em;
    @include flexbox(column, center, center);
    position: absolute;

    svg {
      margin: auto;
      cursor: pointer;
    }
  }

  .logo {
    margin: auto;
    color: white;

    h1 {
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 40em) {
  header {
    width: 40em;
  }
}
