.keypad {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  .rows {
    @include flexbox(row, center, center);
    column-gap: 1rem;
    margin-top: 1rem;
  }

  .row-1 {
    margin-top: 2rem;
  }

  .row-5 {
    margin-bottom: 2rem;
  }

  .rows div {
    width: 4rem;
    height: 4rem;
    border-radius: 40%;
    @include flexbox(row, center, center);
    cursor: pointer;

    h3 {
      font-size: 32px;
      font-weight: 300;
    }
  }

  div.equal {
    h3 {
      color: black;
    }
  }
}