.results {
  width: 100%;
  height: auto;
  @include flexbox(column, flex-end, flex-end);

  .results-window {
    @include flexbox(column, center, center);
  }

  .previous-op,
  .result {
    width: 100%;
    min-height: auto;
    @include flexbox(column, flex-end, center);
    padding-right: 2.5em;
  }

  .previous-op {
    p {
      font-size: 25px;
      color: #35454b;
    }
  }

  .result {
    h2 {
      font-size: 65px;
    }
  }
}
