.results {
  width: 100%;
  @include flexbox(column, flex-end, flex-end);

  .previous-op,
  .result {
    width: 100%;
    @include flexbox(column, flex-end, flex-end);
    padding-right: 2.5em;
  }

  .previous-op {
    p {
      font-size: 25px;
    }
  }

  .result {
    h2 {
      font-size: 65px;
    }
  }
}

@media screen and (min-width: 40em) {
  .results {
    width: 40em;
  }
}
